.Layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &>.bgdeco-container {
        position: absolute;
        overflow: hidden;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -10;
    }

    @media (max-width: 720px) {
    }

    &>.grid {
        margin: 48px 128px;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(2, 128px) auto;
        gap: 24px;
        flex: 1;

        &>.header {
            grid-column: 3 / span 6;
            grid-row: 1 / span 2;
        }

        &>.sidebar {
            grid-column: 1 / span 2;
            grid-row: 3 / span 1;
        }

        &>main {
            grid-column: 3 / span 6;
            grid-row: 3 / span 1;
        }

    }

    &>.footer {
        height: 176px;
    }

    @media (max-width: 1024px) {
        &>.grid {
            margin: 48px 64px;

            &>.header {
                grid-column: 1 / span 8;
                grid-row: 1 / span 1;
            }

            &>.sidebar {
                grid-row: 2 / span 2;
            }

            &>main {
                grid-row: 2 / span 2;
            }
        }
    }

    @media (max-width: 720px) {
        &>.grid {
            grid-template-rows: 128px min-content auto;
            margin: 48px 32px;

            &>.header {
                grid-column: 1 / span 8;
                grid-row: 1 / span 1;
            }

            &>.sidebar {
                grid-column: 1 / span 8;
                grid-row: 2 / span 1;
            }
    
            &>main {
                grid-column: 1 / span 8;
                grid-row: 3 / span 1;
            }
        }
    }
}